{% extends 'base.html.twig' %}

{% block title %}PharmaCongo | Ajout Produit{% endblock %}

{% block content %}
    <body style="overflow:scroll; position:relative" data-spy="scroll">
        <div class= "container center">
        <h3>Ajouter un produit</h3>
        </div>
        <div class="container center">
        {{ form(form)}}
        </div>
    </body>
{% endblock %}