{% extends 'base.html.twig' %}

{% block title %}PharmaCongo | Confirmation Ajout Produit{% endblock %}

{% block content %}
    <body style="overflow:scroll; position:relative" data-spy="scroll">
        <div class= "container center">
        le produit a bien été ajouté.
        </div>
        <div class="container center">
        <a href="{{ path('ajoutProduit')}}">Ajouter un nouvau produit </a>
        </div>
    </body>
{% endblock %}