{% extends 'base.html.twig' %}

{% block title %}242Bazar| Alimentaire{% endblock %}

{% block content %}
<nav class="nav nav-pills nav-justified">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
            <li><a href="#">Tous les produits<span class="sr-only">(current)</span></a> </li>
            <li><a href="#">Médicaments</a></li>
            <li><a href="#">Parapharmacie</a></li>
            <li><a href="#">Bien être<br/>Nutrition</a></li>
            <li><a href="#">Beauté<br/>Soin</a></li>
            <li><a href="#">Hygiène<br/>Premiers soins</a></li>
            <li><a href="#">Bébé<br/>Maman</a></li>
            <li><a href="#">Bio<br/>Médécines naturelles</a></li>
            <li><a href="#">Matériel médical</a></li>
            <li><a href="#">Vétérinaire</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-search"> Rechercher un médicament</span></a>
            </li>
            <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"> Mon panier</span></a>
            </li>                                            
        </ul>
    </div>    
</nav>  
{% endblock %}
{% block javascripts %}
    <script>
        $('li').mouseover(function() {
        $(this).dropdown('toggle')
        })
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.0/umd/popper.min.js"></script>
		
{% endblock %}